<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
                                "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="FileTabCharacter"/>

    <module name="FileLength"/>

    <module name="Header">
        <property name="header" value="////////////////////////////////////////////////////////////////////\n// [NOME1] [COGNOME1] [MATRICOLA1]\n// [NOME2] [COGNOME2] [MATRICOLA2]\n////////////////////////////////////////////////////////////////////"/>
        <property name="fileExtensions" value="java"/> </module>

    <module name="LineLength"/>

    <module name="TreeWalker">

        <module name="BooleanExpressionComplexity"/>

        <module name="CyclomaticComplexity"/>

        <module name="MethodLength"/>

        <module name="EmptyCatchBlock"/>

        <module name="AvoidStarImport"/>

        <module name="IllegalImport"/>

        <module name="NeedBraces"/>

        </module>

</module>
